/* In this file I define the global CSS*/

body {
  margin: 0;
  padding: 0;
  padding-bottom: 500px;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  color: rgb(250, 3, 3);
}

/* Estilo da classe dinamica*/
.red-title {
  background-color: blueviolet;
  color: yellow;
  padding: 15px;
  border: 3px solid yellowgreen;
}

.title {
  background-color: black;
  color: white;
}